body {
	margin: 0px;
	overflow: hidden;
}

:focus {
	outline: none;
}

#ui {
	position: absolute;
	font-family: sans-serif;
	font-size: 10px;
	width: 186px;
	top: 16px;
	left: 16px;
	padding: 10px;
	background-color: rgba(222,222,222,0.8);
	z-index: 5;
}

.slt {
	background-color: #FFFFFF;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: sans-serif;
	font-size: 10px;
	cursor: pointer;
	margin: 8px 8px 8px 8px;
}

.btn {
	background-color: #FFFFFF;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: sans-serif;
	font-size: 10px;
	cursor: pointer;
	margin: 8px 8px 8px 8px;
}

#scatter3d {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.legendBox {
	fill: #DEDEDE;
	opacity: 0.69;
}

ul {
	padding-left: 0px;
	list-style-type: none;
	list-style-position: outside;
}

li {
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: -4px;
	margin-top: -4px;
}

.headerInfo {
	grid-area: hi;
	text-align: left;
	height: 16px;
}

;
.closeInfo {
	grid-area: ci;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none -ms-user-select: none;
	user-select: none;
}

.info {
	grid-area: inf;
	text-align: left;
	font-size: 2em;
}

#infoPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 16px;
	background-color: rgba(222,222,222,0.8);
	font-family: sans-serif;
	font-size: 9px;
	display: none;
	z-index: 10;
	grid-template-areas: 'hi hi hi ci' 'inf inf inf inf';
	grid-gap: 8px;
}

#infoPopup .closeInfo {
	font-size: 16px;
	cursor: pointer;
	text-align: right
}

#infoPopup .closeInfo:hover {
	font-size: 16px;
	color: #FFFFFF;
	text-align: right
}

.header {
	grid-area: hd;
	text-align: left;
	height: 16px;
}

;
.closePopup {
	grid-area: cls;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none -ms-user-select: none;
	user-select: none;
}

.region1 {
	grid-area: rg1;
	text-align: left;
}

.region2 {
	grid-area: rg2;
	text-align: left;
}

.region3 {
	grid-area: rg3;
	text-align: left;
}

.region4 {
	grid-area: rg4;
	text-align: left;
}

.region5 {
	grid-area: rg5;
	text-align: left;
}

.region6 {
	grid-area: rg6;
	text-align: left;
}

.region7 {
	grid-area: rg7;
	text-align: left;
}

.region8 {
	grid-area: rg8;
	text-align: left;
}

#culturesPopup {
	position: fixed;
	bottom: 16px;
	right: 16px;
	width: 40%;
	padding: 16px;
	background-color: rgba(222,222,222,0.8);
	font-family: sans-serif;
	font-size: 9px;
	display: none;
	z-index: 10;
	grid-template-areas: 'hd hd hd hd hd hd hd cls' 'rg1 rg2 rg3 rg4 rg5 rg6 rg7 rg8';
	grid-gap: 8px;
}

#culturesPopup .closePopup {
	font-size: 16px;
	cursor: pointer;
	text-align: right
}

#culturesPopup .closePopup:hover {
	font-size: 16px;
	color: #FFFFFF;
	text-align: right
}

.audio {
	grid-area: aux;
	text-align: left;
}

.clear {
	grid-area: clr;
	text-align: right;
}

.close {
	grid-area: x;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none -ms-user-select: none;
	user-select: none;
}

.culture {
	grid-area: clt;
	text-align: left;
}

.text {
	grid-area: txt;
	text-align: left;
}

.lyric {
	grid-area: lyr;
	text-align: left;
}

.cite {
	grid-area: cit;
	text-align: left;
}

.ocm {
	grid-area: ocm;
	text-align: left;
}

#tooltip>div {
	color: #494949;
	font-size: 12px;
}

#tooltip .close {
	font-size: 16px;
	cursor: pointer;
}

#tooltip .close:hover {
	font-size: 16px;
	color: #FFFFFF;
}

#tooltip {
	position: absolute;
	text-align: center;
	width: 400px;
	height: 300px;
	font: 10px sans-serif;
	border: 0px;
	border-radius: 8px;
	display: none;
	overflow: scroll;
	grid-template-areas: 'clr clr clr clr clr x' 'clt clt clt clt clt clt' 'txt txt txt txt txt txt' 'lyr lyr lyr lyr lyr lyr' 'cit cit cit cit cit cit' 'ocm ocm ocm ocm ocm omc';
	grid-gap: 10px;
	background-color: rgba(222,222,222,0.8);
	padding: 10px;
	padding-right: 20px;
	z-index: 11;
}
